#box {
    width: 800px;
    top: 250px;
    margin: auto;
    position: relative;
}


.flex-container {
    display: flex;
    justify-content: space-between;
}

.letter {
    font-size: 120px;
    font-weight: 200;
    transition: transform .3s;
}

.letter:hover {
    cursor: pointer;
    transform: scale(1.1);

}

.image:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.image {
    width: 120px;
    position:relative;
    top: -120px;
    transition: transform .3s;
}