    body {
        text-align: center;
        background-color: #1a1a1a;
        color: #fff;
    }
    
    h1 {
      font-size: 45px;
      font-family: fantasy;
      margin-top: 50px;
      /* margin-bottom: 0; */
    }
    
    h2 {
      margin-bottom: 30px;
      font-family: cursive;
    }
    
    h3 {
      font-size: 18px;
      font-family:fantasy;
      margin-top: 10mm;
    }
    
    h4 {
      font-size: 40px;
      font-family: fantasy;
      margin-top: 50px;
      margin-bottom: 5mm;
    }
    
    h5 {
      margin-top: 0;
      font-family: cursive;
      font-style:italic;
      font-size: 20px;
    
    }
    
    h6 {
      margin-bottom: 12mm;
      font-family: 'Dancing Script', cursive;
      font-size: 25px;
    }
    
    a {
      text-decoration: underline;
      color:#fff;
      cursor:pointer;
      transition: color .08s;
    }
    
    a:hover {
    color:rgb(128, 128, 128);
    text-decoration: none;
    }
    
    p {
      font-family: 'EB Garamond', serif;
      font-size: 24px;
    }
    
    li {
      font-family: 'Lora', serif;
      font-size: 20px;
      margin-top: 5mm;
    }
    